<html>
    <head>
        <h1>Mobile Applicaton Testing for Written Seneario!</h1>
        <script>
           console.log("CNU_CSE 201702052 Dongheon");
           console.log("Mobile Application Testing");
        </script>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        
    </head>
    <body>
        <button onclick="location.href='/written/chrome'; " >
            Chrome   
        </button>
        <button onclick="location.href='/written/naver'; " >
            Naver   
        </button>
        <button onclick="location.href='/written/melon'; " >
            Melon   
        </button>
        <script>

        </script>
        <link rel="stylesheet" href="css/button.css">
    </body>
</html> 