<html>
    <head>
        <h1>Testing Chrome, now!</h1>
        <script>
        </script>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        
    </head>
    <body>
        <button onclick="location.href='/select/chrome/ip'; " >
            Image Processing   
        </button>
        <script>

        </script>
        <link rel="stylesheet" href="css/button.css">
    </body>
</html> 