
<html>
    <head>
        <h1>Testing Naver, now!</h1>
        <script>
        </script>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        
    </head>
    <body>
        <button onclick="location.href='/select/naver/ip'; " >
            Image Processing
        </button>
        <script>

        </script>
        <link rel="stylesheet" href="css/button.css">
    </body>
</html> 