<html>
    <head>
        <h1>Mobile Applicaton Testing for Written Seneario!</h1>
        <script>
        </script>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        
    </head>
    <body>
        <button onclick="location.href='/select/chrome'; " >
            Chrome   
        </button>
        <button onclick="location.href='/select/naver'; " >
            Naver   
        </button>
        <button onclick="location.href='/select/melon'; " >
            Melon   
        </button>
        <script>

        </script>
        <link rel="stylesheet" href="css/button.css">
    </body>
</html> 