<body>
    <button onclick="location.href='./custom'; " >
        Custom
    </button>
    <button onclick="location.href='./written'; " >
        Written
    </button>
    <script>

    </script>
    <link rel="stylesheet" href="css/button.css">
</body>