<body>
    <button onclick="location.href='./auto'; " >
        Auto
    </button>
    <button onclick="location.href='./select'; " >
        Select
    </button>
    <script>

    </script>
    <link rel="stylesheet" href="css/button.css">
</body>