<html>
    <head>
        <h1>Mobile Applicaton Testing!</h1>
        <h3>Choose Test Method</h3>
        <script>
           console.log("CNU_CSE 201702052 Dongheon");
           console.log("Mobile Application Testing");
        </script>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        
    </head>
    <body>
        <button onclick="location.href='./custom'; " >
            Custom   
        </button>
        <button onclick="location.href='./written'; " >
            Written
        </button>
        <script>

        </script>
        <link rel="stylesheet" href="css/button.css">
    </body>
</html> 
