<html>
    <head>
        <h1>Mobile Applicaton Testing!</h1>
        <script>
           console.log("CNU_CSE 201702052 Dongheon");
           console.log("Mobile Application Testing");
        </script>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        
    </head>
    <body>
        <br><br>
        <input type="button" id="ios" value="iOS" />
        <input type="button" id="android" value="Android" />
        
        <script
        <script type="text/javascript" src="../router/main.js">
            
            var t1 = document.getElementById('ios');
            var t2 = document.getElementById('android');
            function btn_listener(event){
                switch(event.target.id){
                    case 'ios':
                        console.log("ios_exec");
                        break;
                    case 'android':
                        
                        console.log("android_exec");
                        break;
                }
            }
            t1.addEventListener('click', btn_listener);
            t2.addEventListener('click', btn_listener);
        </script>
        
        <link rel="stylesheet" href="css/button.css">
    </body>
</html>

<!--
<html>
    <head>
        <h1>Mobile Applicaton Testing!</h1>
        <script>
           console.log("CNU_CSE 201702052 Dongheon");
           console.log("Mobile Application Testing");
        </script>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        
    </head>
    <body>
        <br><br>
        <button onclick="ios_click('iOS');">
            iOS   
            <script>
                function ios_click(s){
                    console.log(s);   
                }
            </script>
        </button>
        <button onclick="android_click('Android');">
            Android
            <script>
                function android_click(s){
                    console.log(s);
                }
            </script>
        </button>
        <link rel="stylesheet" href="css/button.css">
    </body>
</html> -->