<html>
    <head>
        <h1>Auto Testing Every Hours</h1>
        <script>
           console.log("CNU_CSE 201702052 Dongheon");
           console.log("Mobile Application Testing");
        </script>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        
    </head>
    <body>
        <button>
            
        </button>
        <script>

        </script>
        <link rel="stylesheet" href="css/button.css">
    </body>
</html> 